$base-font-size:    18px;
$smaller-font-size: 14px;
$small-font-size:   16px;
$bigger-font-size:  24px;
$large-font-size:   32px;
$largest-font-size: 42px;
$base-line:         26px;
$base-line-factor:  1.4;

$anim-speed:        150ms;

$aside-bg:          #0D0D0D;
$preview-bg:        #fff;
$editor-bg:         #efefef;
$code-bg:           #f6f6f6;
$link:              #BD1550;
$highlight:         #4a9b1f;

$editor-color:      #111;
$aside-color:       #ddd;
$border-color:      #ddd;

$grid-columns:      4;