@import "settings";

@import "libs/reset";
@import "libs/vertical-rhythm";
@import "libs/bourbon/bourbon";
@import "libs/neat/neat-helpers";
@import "libs/neat/neat";

$mobile:            new-breakpoint(max-width 768px 4);
$desktop:           new-breakpoint(min-width 768px 10);

* { box-sizing: border-box; font-family: 'PT Serif', serif; } //FTW!

@include establish-baseline;

html, body {
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    height: 100%;
    background: $aside-bg;
    font-family: 'PT Serif', serif;
}

.markpress-container {
    padding-top: rhythm(2);
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.markpress-actions {
    height: rhythm(2);
    padding: 0 2%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 666;
    background: $aside-bg;

    @include media($desktop) {
        padding: 0 1%;
    }

    &__button {
        border: 0;
        background: $editor-bg;
        padding: 0 10px;
        margin: 8px 10px 0 0;
        height: rhythm(1.4);
        cursor: pointer;
        display: block;
        float: left;
        outline: none;
        border-radius: 2px;

        &--entries {
            @extend .markpress-actions__button;
        }

        &--save {
            @extend .markpress-actions__button;
            float: right;
            margin-right: 0;
        }

        &--mode {
            @extend .markpress-actions__button;

            @include media($desktop) {
                display: none;
            }
        }

        &--new {
            @extend .markpress-actions__button;
            padding: 0;
            width: rhythm(1.4);
            background: $highlight;

            &:hover {
                background: darken($highlight, 10);
            }

        }

        &:hover {
            background: darken($editor-bg, 10);
        }
    }
}

.markpress-editor {
    &__preview {
        width: 100%;
        height: 100%;
        position: absolute;
        left: auto;
        right: 0;
        overflow: auto;
        padding: rhythm(3) 2% rhythm(1) 2%;
        background: $preview-bg;
        top: 100%;
    }

    &__content {
        @extend .markpress-editor__preview;
        padding: 0;
        right: auto;
        left: 0;
        top: 0;
        padding-top: rhythm(6);

        &__title {
            height: rhythm(2);
            width: 100%;
            background: $editor-bg;
            position: absolute;
            top: rhythm(2);
            left: 0;

            input {
                color: $editor-color;
                display: block;
                width: 100%;
                height: 100%;
                border: 0;
                outline: none;
                padding: 0 2%;
                font-size: 22px;
                background: transparent;
            }
        }

        &__tags {
            @extend .markpress-editor__content__title;
            background: darken($editor-bg, 5);
            top: rhythm(4);

            input {
                @include change-font-size($smaller-font-size);
                padding: 0 2% 0 6%;
            }

            &:before {
                content: "#";
                display: block;
                position: absolute;
                line-height: 48px;
                width: 6%;
                left: 0;
                top: 0;
                font-size: 20px;
                color: darken($editor-bg, 30);
                text-align: center;
            }
        }

        &__save {
            display: none;
        }
    }

    @include media($desktop) {
        &__preview {
            top: 0;
            width: 50%;
        }

        &__content {
            width: 50%;
        }
    }
}

#markpress-editor {
    color: $editor-color;
    border: 0;
    outline: none;
    background: $editor-bg;
    padding: rhythm(1) 2%;
    height: 100%;
    width: 100%;
    display: block;
    font-family: 'PT Mono';
    @include change-font-size($smaller-font-size);
}

#markpress-preview {
    color: $editor-color;

    h1 {
        @include change-font-size($largest-font-size);
        font-weight: bold;
        border-bottom: 1px solid $border-color;
        margin-bottom: rhythm-border(1, 1px);
    }

    h2 {
        @extend h1;
        @include change-font-size($large-font-size);
    }

    h3 {
        @extend h1;
        @include change-font-size($bigger-font-size);
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    p, ul, blockquote, pre {
        margin-bottom: rhythm(1);

        &:last-child {
            margin-bottom: 0;
        }
    }

    code {
        font-family: 'PT Mono';
        display: inline-block;
        background: $code-bg;
        border: 1px solid $border-color;
        padding: 0 6px;
        margin: -2px 0 -2px 0;
        @include change-font-size($small-font-size);
    }

    pre {
        background: $code-bg;
        border: 1px solid $border-color;
        padding: rhythm-border(0.5, 1px) 6px;

        code {
            display: block;
            width: 100%;
            border: 0px;
            margin: 0;
        }
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;

        li {
            ul, ol {
                &:last-child {
                    margin-bottom: rhythm(1);
                }
            }
        }
    }

    ol {
        @extend ul;
        padding-left: 24px;
        list-style-type: decimal;
    }

    blockquote {
        padding: rhythm-border(1, 1px);
        border: 1px solid $border-color;
    }

    a {
        color: $link;
        text-decoration: underline;

        &:hover {
            color: $editor-color;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background-color: $border-color;
        margin: 0 0 rhythm-border(1, 1px) 0;
    }

    img {
        max-width: 100%;
    }
}

#primary {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background: $preview-bg;
    z-index: 1;

    @include transition(width $anim-speed, left $anim-speed);
}

#entries {
    float: left;
    width: 70%;
    padding: rhythm(0.5) 2%;
    color: $aside-color;
    overflow: auto;
    margin-left: -70%;
    @include transition(margin-left $anim-speed);

    @include media($desktop) {
        width: 20%;
        padding: rhythm(0.5) 1%;
    }

    h3 {
        font-weight: normal;
        font-size: 16px;
    }

    a {
        color: $preview-bg;
        text-decoration: none;

        &:hover {
            color: $editor-bg;
            text-decoration: underline;
        }
    }
}

.menu-open {
    #entries {
        margin-left: 0;
    }

    #primary {
        left: 70%;
    }

    @include media($desktop) {
        #primary {
            width: 80%;
            left: 20%;
        }
    }
}

.preview-open {
    .markpress-editor__preview {
        top: 0;
    }
}