* {
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  height: 100%;
  background: #0D0D0D; }

#primary {
  height: 100%;
  position: fixed;
  left: 20%;
  width: 80%;
  background: #fff; }

.markpress-editor__preview, .markpress-editor__content {
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
  overflow: auto;
  padding: 0 2%; }
.markpress-editor__content {
  padding: 0;
  right: auto;
  left: 0; }
  .markpress-editor__content__title, .markpress-editor__content__tags {
    height: 5%;
    background: #DCDCDC; }
    .markpress-editor__content__title input, .markpress-editor__content__tags input {
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      outline: none;
      padding: 0 2%;
      font-size: 22px;
      background: transparent; }
  .markpress-editor__content__tags {
    background: #AAAAAA; }
    .markpress-editor__content__tags input {
      font-size: 14px; }

#markpress-editor {
  border: 0;
  outline: none;
  background: #efefef;
  padding: 20px 2%;
  height: 90%;
  width: 100%;
  display: block; }

#entries {
  float: left;
  width: 20%;
  padding: 0 2%;
  color: #ddd; }
  #entries h3 {
    font-weight: normal;
    font-size: 16px; }
