html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: inherit;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Vertical Rhythmn in Sass with helpful mixins and helpers
 * Author:  Gaya Kessler
 * Version: 0.0.1
 * Date:    2014-05-18
 */
* {
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
}

html body, html input, html textarea, html button {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

html, body {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  height: 100%;
  background: #0d0d0d;
  font-family: 'PT Serif', serif;
}

#primary {
  height: 100%;
  position: fixed;
  left: 20%;
  width: 80%;
  background: white;
}

.markpress-editor__preview, .markpress-editor__content {
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
  overflow: auto;
  padding: 0 2%;
}
.markpress-editor__content {
  padding: 0;
  right: auto;
  left: 0;
  padding-top: 96px;
}
.markpress-editor__content__title, .markpress-editor__content__tags {
  height: 48px;
  width: 100%;
  background: #efefef;
  position: absolute;
  top: 0;
  left: 0;
}
.markpress-editor__content__title input, .markpress-editor__content__tags input {
  color: #111111;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 0 2%;
  font-size: 22px;
  background: transparent;
}
.markpress-editor__content__tags {
  background: #e2e2e2;
  top: 48px;
}
.markpress-editor__content__tags input {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 26px;
  line-height: 2.6rem;
  padding: 0 2% 0 6%;
}
.markpress-editor__content__tags:before {
  content: "#";
  display: block;
  position: absolute;
  line-height: 48px;
  width: 6%;
  left: 0;
  top: 0;
  font-size: 20px;
  color: #a3a3a3;
  text-align: center;
}

#markpress-editor {
  color: #111111;
  border: 0;
  outline: none;
  background: #efefef;
  padding: 2.6rem 2%;
  height: 100%;
  width: 100%;
  display: block;
  font-family: 'PT Mono';
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 26px;
  line-height: 2.6rem;
}

#markpress-preview {
  color: #111111;
}
#markpress-preview h1 {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 78px;
  line-height: 7.8rem;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2.5rem;
}
#markpress-preview p {
  margin-bottom: 2.6rem;
}

#entries {
  float: left;
  width: 20%;
  padding: 0 2%;
  color: #dddddd;
}
#entries h3 {
  font-weight: normal;
  font-size: 16px;
}
